<div class="flex flex-col space-y-2 md:mx-3 pb-4" xmlns="http://www.w3.org/1999/html">
  <div
    appGetElementHeight
    (height)="height = $event"
    class="flex flex-col space-y-3 sticky top-16 z-50 bg-app-bg py-3">
    <div
      class="flex flex-col py-[1.375rem] sm:py-[1.125rem] md:py-[1rem] md:py-[0.875rem] xl:py-[0.75rem] 2xl:py-[0.625rem] space-y-3 md:space-y-0 md:flex-row justify-between">
      <div class="flex flex-col space-y-2 justify-between w-full px-3">
        <h1 class="text-h1_mobile leading-h1_mobile md:text-h1 md:leading-h1 font-semibold">Enterprise Wise
          Permission</h1>
      </div>
    </div>
    <div class="p-4 bg-white rounded-lg mb-4 grid grid-cols-2">
      <div class="flex space-x-4 items-center">
        <div class="w-18 h-18 rounded-full border border-link flex items-center justify-center">
          <div class="w-14 h-14 rounded-full overflow-hidden">
            <img src="assets/svg/enterprise-add.svg">
          </div>
        </div>
        <div class="flex flex-col space-y-2">
          <div class="flex space-x-3 items-center">
            <h1 class="font-bold text-h1 leading-h1-mobile leading-h1-mobile text-not-black capitalize">{{enterpriseInfo?.name}}</h1>
            <app-chips chipText="{{enterpriseInfo?.enterpriseType}}"></app-chips>
          </div>
          <span class="text-regular font-medium text-secondary-text">{{enterpriseInfo?.email}}</span>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div class="flex flex-col space-y-2 text-secondary-text font-medium text-regular">
          <span>{{enterpriseInfo?.phone}}</span>
          <span>{{enterpriseInfo?.address}}</span>
        </div>
        <button (click)="onClickEnterpriseEdit()" class="w-8 h-8">
          <img class="w-full h-full" src="assets/svg/edit.svg" alt="edit"/>
        </button>
      </div>
    </div>
  </div>

  <div appGiveMaxHeight
       [totalPage]="1"
       [anotherItemsHeight]="height" class="">
    <div class="flex flex-col space-y-3">
      <div class="flex flex-col space-y-2">
        <h2 class="text-h2_mobile leading-h2_mobile md:text-h2 md:leading-h2 font-semibold">Active Modules</h2>
        <div class="grid grid-cols-3 gap-3" *ngIf="activeModules?.length > 0; else noActiveModules">
          <app-card (customize)="onCustomize($event)" (toggle)="onClickToggle($event)" [moduleSummary]="module" *ngFor="let module of activeModules"></app-card>
        </div>
        <ng-template #noActiveModules>
          <div class="flex flex-col items-center justify-center py-10 space-y-4">
            <img src="assets/svg/no-data.svg" alt="No Active Modules" class="w-32 h-32">
            <h3 class="text-h3_mobile leading-h3_mobile md:text-h3 md:leading-h3 font-semibold text-not-black">No Active Modules</h3>
          </div>
        </ng-template>
      </div>
      <div class="flex flex-col space-y-2">
        <h2 class="text-h2_mobile leading-h2_mobile md:text-h2 md:leading-h2 font-semibold">Inactive Modules</h2>
        <div class="grid grid-cols-3 gap-3" *ngIf="inactiveModules?.length > 0; else noInactiveModules">
          <app-card (customize)="onCustomize($event)" (toggle)="onClickToggle($event)" [moduleSummary]="module" *ngFor="let module of inactiveModules"></app-card>
        </div>
        <ng-template #noInactiveModules>
          <div class="flex flex-col items-center justify-center py-10 space-y-4">
            <img src="assets/svg/no-data.svg" alt="No Inactive Modules" class="w-32 h-32">
            <h3 class="text-h3_mobile leading-h3_mobile md:text-h3 md:leading-h3 font-semibold text-not-black">No Inactive Modules</h3>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
