<div
  #sideBar
  id="sidebar"
  *ngIf="!willShow"
  class="fixed z-50 h-full top-0 left-0 pt-16 md:flex flex-shrink-0 flex-col w-[19rem] transition-width duration-75"
  aria-label="Sidebar">
  <div
    class="relative flex-1 flex flex-col min-h-full border-r border-app-bg bg-white pt-0 pb-20">
    <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
      <div class="flex-1 px-8 bg-white divide-y space-y-1">
        <ul class="space-y-3 pb-2 max-h-[calc(100vh-14rem)] overflow-y-auto">

          <li *ngIf="isAdmin()">
            <a
              (click)="ifInMobileDevice()"
              routerLink="/sass"
              routerLinkActive="active"
              class="cursor-pointer text-base text-secondary leading-normal font-normal rounded-lg flex items-center py-3 px-4 hover:bg-disabled group">
              <img
                loading="lazy"
                class="notPreview"
                src="assets/svg/sass-{{
                  isActive('/sass') ? 'select' : 'deselect'
                }}.svg"
                alt=""
                height="24"
                width="24"/>
              <span class="ml-3 font-semibold">Saas</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fixed bottom-0 mr-0 border-app-bg">
    <div class="p-4 flex items-center justify-center w-[19rem] bg-[#FAFEFF]">
      <div class="flex flex-col items-center space-y-3">
        <img
          loading="lazy"
          class="w-2/3 notPreview"
          height="18"
          width="101"
          src="assets/svg/ecoflit.svg"
          alt="ecoflit"/>
        <span class="text-[.75rem] text-secondary"
        >© SNZ Technologies Limited {{ currentYear }}</span
        >
      </div>
    </div>
  </div>
</div>

<div
  class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10"
  id="sidebarBackdrop"></div>
