@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

* {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}



body {
  @apply bg-app-bg;
}

html,
body {
  height: 100%;
}

@theme {
  //colors
  --color-primary: #11474e;
  --color-not-primary: #208a98;
  --color-not-black: #242424;
  --color-secondary-text: #767676;
  --color-web-text-secondary: #5c5c5c;
  --color-white: #fdfdfd;
  --color-input: #f3f9fa;
  --color-input-hint: #a4b7ba;
  --color-another: #fda40b;
  --color-green: #1dbe72;
  --color-blue: #06cce7;
  --color-red: #ee604d;
  --color-link: #0084fd;
  --color-disabled: #e3e8e9;
  --color-mobile-line: #d1d9da;
  --color-app-bg: #f7f7f7;
  --color-line: #e5eaeb;

  //text typography for mobile
  --text-h3-mobile: 1.5rem;
  --text-h2-mobile: 1.375rem;
  --text-h1-mobile: 1.25rem;
  --text-menu-title-mobile: 1rem;
  --body-large-mobile: 1rem;
  --body-medium-mobile: 0.875rem;
  --body-small-mobile: 0.75rem;

  //text typography for desktop
  --text-h2: 1rem;
  --text-h1: 2rem;
  --text-h2-medium: 1rem;
  --text-h3: 1.25rem;
  --text-boby-title: 1rem;
  --text-body: 1rem;

  //letter spacing for mobile
  --leading-h3-mobile: 1.25rem;
  --leading-h2-mobile: 1.25rem;
  --leading-h1-mobile: 1.25rem;
  --leading-body-large-mobile: 1.5rem;
  --leading-body-medium-mobile: 1.25rem;
  --leading-body-small-mobile: 1.063rem;

  //letter spacing for desktop
  --leading-h2: 1.25rem;
  --leading-h1: 1.25rem;
  --leading-h2-medium: 1.25rem;
  --leading-h3: 1.25rem;
  --leading-boby-title: 1.25rem;
}

::-webkit-scrollbar {
  display: none;
}

/* Optional: Still style the horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  display: block;
  height: .25rem; /* Customize height */
}

::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #888;
  border-radius: 0.188rem;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555;
}


//
//input::placeholder {
//  font-size: 0.75rem;
//  @apply text-input-hint
//    /* Set the font size of the placeholder text */
//  ;
//}

//textarea::placeholder {
//  font-size: 0.75rem;
//  @apply text-input-hint;
//}

/* custom style ng-select */
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  font-size: 0.75rem !important;
  color: #d9edf0 !important;
}

.ng-select .ng-select-container {
  font-size: 0.75rem !important;
  border: 1px solid #e5eaeb !important;
  border-radius: 0.25rem !important;
  background-color: #f5fbfc !important;
  color: #111827 !important;
  padding: 0.5rem 0.5rem !important;
}

img {
  cursor: pointer;
}

.fal,
.far,
.fas,
.fad,
.fab,
.fa {
  font-family: 'Font Awesome 5 Pro', serif !important;
}

.mat-mdc-select-placeholder {
  color: #a5b8bb !important;
  font-weight: 400 !important;
}

.mat-mdc-form-field {
  font-size: 0.875rem !important;
  height: 2.5rem !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: none !important;
  color: #242424 !important;
  outline: 1px solid #e5eaeb !important;
  background: #f5fbfc !important;
  border-radius: 0.25rem !important;
}

.mat-mdc-form-field > input {
  outline: none !important;
}

.mat-mdc-form-field > input::placeholder {
  color: #a5b8bb !important;
  font-weight: 400 !important;
}

.mat-mdc-text-field-wrapper {
  width: 100%;
  border-radius: 0.25rem !important;
  background-color: #f5fbfc !important;
}

.mat-mdc-text-field-wrapper:focus-within {
  border: 1px solid #a5b8bb !important;
}

.mdc-notched-outline {
  display: none !important;
}

.custom-icon {
  margin-left: auto; /* Align the icon to the right */
  color: red; /* Change the icon color */
}

.mat-mdc-text-field-wrapper {
  width: 100%;
  border-radius: 0.25rem !important;
  background-color: #f5fbfc !important;
  height: 2.5rem !important;
}

.mat-mdc-select {
  padding: 0 !important;
  background-color: #f5fbfc !important;
  border: none !important;
  color: #242424 !important;
  font-weight: 500 !important;
}

.mdc-text-field__input::placeholder {
  color: #a5b8bb !important;
  font-weight: 400 !important;
}

.mat-mdc-select:focus {
  border: none !important;
  outline: none !important;
  --tw-ring-color: #f5fbfc !important;
}

mat-select::ng-deep .mat-select-arrow {
  display: none; /* Hide the default arrow */
}

.mat-mdc-select-arrow {
  content: url('./assets/svg/arrow-down.svg');
  width: 75% !important;
  height: 75% !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)
.mdc-text-field__input {
  caret-color: #111827 !important;
  --tw-ring-color: #e5eaeb !important;
  --tw-ring-offset-color: none !important;
  --tw-ring-shadow: none !important;
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate
~ .mdc-checkbox__background {
  border-color: #11484f !important;
  background-color: #11484f !important;
}

.mat-mdc-dialog-container {
  border-radius: 0.75rem !important;
  overflow: hidden !important;
}

.mat-mdc-dialog-content > :last-child {
  margin-bottom: 10px !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
  color: #242424 !important;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none !important;
}

.mat-mdc-form-field-error {
  color: #f0614e !important;
  font-size: 0.75rem !important;
}

.mat-mdc-autocomplete-panel {
  color: #242424 !important;
  background-color: #f5fbfc !important;
  box-shadow: none !important;
  border: 1px solid #a5b8bb;
  border-radius: 0.25rem !important;
  font-size: 0.75rem !important;
  padding: 0 !important;
}


.mat-mdc-form-field-infix {
  padding: 0.5rem 0 !important;
}

.mat-mdc-select-panel {
  color: #242424 !important;
  background-color: #f5fbfc !important;
  box-shadow: none !important;
  border: 1px solid #a5b8bb;
  border-radius: 0.25rem !important;
  font-size: 0.875rem !important;
  padding: 0 !important;
}

.error {
  outline: none !important;
  --tw-ring-color: none !important;
  border: 1px solid #f7cad0 !important;
  border-radius: 0.25rem !important;
}

::ng-deep .error .mat-mdc-text-field-wrapper {
  width: 100%;
  border-radius: 0.25rem !important;
  background-color: #fffafb !important;
  height: 2rem !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f5fbfc inset !important;
}

textarea::placeholder {
  font-size: 0.75rem !important;
  color: #a5b8bb !important;
}

textarea:focus {
  --tw-ring-color: #e5eaeb !important;
}

.mat-date-range-input-wrapper input {
  font-weight: 500 !important;
  font-size: 0.75rem !important;
}

.mat-date-range-input-wrapper input::placeholder {
  font-size: 0.75rem !important;
  color: #a5b8bb !important;
  font-weight: 400 !important;
}

.mat-date-range-input-separator {
  color: #a5b8bb !important;
}


img:hover {
  cursor: pointer;
}

.mat-mdc-dialog-surface {
  background-color: white !important;
}

.tel-form {
  border: none !important;
  outline: none !important;
  background-color: #ffffff !important;
  border-radius: 0.25rem !important;
  @apply space-x-2 bg-white;
}

.tel-form input {
  --tw-ring-color: none !important;
}
.mat-mdc-select-placeholder {
  color: #a5b8bb !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
}

.filter .mat-mdc-select-placeholder {
  color: #a5b8bb !important;
  font-weight: 400 !important;
  font-size: 0.75rem !important;
}

.filter {
  font-size: 0.75rem !important;
  height: 2rem !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: none !important;
  color: #242424 !important;
  outline: 1px solid #e5eaeb !important;
  background: #f5fbfc !important;
  border-radius: 0.25rem !important;
}

.filter .mat-mdc-text-field-wrapper {
  border-radius: 0.25rem !important;
  background-color: #f5fbfc !important;
  height: 2rem !important;
}

.filter .mat-mdc-form-field-infix {
  min-height: 2.5rem !important;
  padding: 0.25rem 0 !important;
}

.filter .mat-mdc-icon-button {
  margin-bottom: 1rem;
}


.mat-mdc-form-field-icon-suffix{
  margin-bottom: 12px !important;
}

body.custom-overlay-bounding-box {
  .cdk-overlay-connected-position-bounding-box {
    height: auto !important;
    width: auto !important;
    .mat-mdc-select-panel {
      overflow-y: scroll;

    }
  }
}



