<div class="grid md:grid-cols-3 gap-3">
  <div *ngFor="let enterprise of enterpriseListByAlphabet">
    <div class="flex flex-col space-y-2" (click)="onClickEnterprise(enterprise)">
      <h1 class="text-body_title leading-body_title text-not-black font-semibold">
        {{ enterprise.name }}
      </h1>
      <p class="text-body text-secondary-text">
        {{ enterprise.phone }}
      </p>
      <p class="text-body text-secondary-text">
        {{ enterprise.email }}
      </p>
      <p class="text-body text-secondary-text">
        {{ enterprise.address }}
      </p>
    </div>
  </div>
</div>
